<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Store</title>
</head>
<body>
  <h1>Kickify</h1>
  <a href="/products/new" id="create">Click here to create a new product</a>
  <!-- <img src="" alt=""> -->
  <ul>
    <% for (let i = 0; i < Product.length; i++ ) { %>
      <li id="items">      
        <a href="/products/<%= i %>"><%=Product[i].name %></a>
        <img src="<%= Product[i].img %>" alt="<%= Product[i].name%>">
        </li>
  <% } %>
      </ul>
</body>
</html>